h1 {
    border-bottom: 3px solid gold;
    color: black;
    display: inline-block;
    font-size: 66px;
    text-shadow: -3px 3px 0 gold, -6px 6px orange;
    z-index: 5;
    margin-top: 1%;
    margin-left: 2%;
}

.wrapper {
    background-image: linear-gradient(to right bottom, red, blue);
    height: 100vh;
    width: 100vw;
}

#this-canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}