.animated {
    background: blue;
    animation: color-me 5s infinite;
}

.equalized1 {
    margin-top: 250px;
    height: 5px;
    background: darkmagenta;
    width: 100%;
    border-radius: 18px;
    animation: linedown 3s forwards linear infinite;
}


@keyframes color-me {
    0% {
        background: green;
    }
    50% {
        background: crimson;
    }
    100% {
        background: blue;
    }
}